.body[b-x3lxt1hyuu] {
    background-color: ivory;
    height: 750px;
    padding-top: 200px;
}

.title[b-x3lxt1hyuu] {
    font-size: 24px;
    text-align: center;
}

.name[b-x3lxt1hyuu] {
    padding-left: 500px;
    padding-right: 500px;
}

.input[b-x3lxt1hyuu] {
    width: 200px;
}

.content[b-x3lxt1hyuu] {
    text-align: center;
    /*width:300px;*/
}
