@page "/Checkout/{temporaryOrder_id:int}/{num:int}"
@using BlazorApp.Data
@using BlazorApp.Service
@inject NavigationManager NavigationManager
@inject CommodityApiClient CommodityService
@if (ErrorMessage != null)
{
    <DisplayError ErrorMessage ="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">Shopping Cart</h3>
    <div class = "row mb-5">
        <div class ="col-md-9">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" width="300" class="img-thumbnail">
                </div>
                <div class = "col-md-8">
                    <h5>@Product.commodity_name</h5>
                    <p>单价: <b>@Product.item_price.ToString("C")</b></p>
                    <p>数量: <b>@Product.total_count</b></p>
                    <div>
                        <button class="btn btn-danger sm"><i class="fa fa-trash"></i>支付中······</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5>总计</h5>
            <div class="mt-2">
                <div><b>@total_poice 元</b></div>
                <a href="Checkout" class="btn btn-success" @onclick="success">
                    <span class="oi oi-credit-card"></span>&nbsp; 支付成功
                </a>
            </div>
        </div>
    </div>

}


@code {
    [Parameter]
    public int temporaryOrder_id { get; set; }
    /*[Parameter]
    public string commodity_name { get; set; }
    [Parameter]
    public int price { get; set; }*/
    [Parameter]
    public int num { get; set; }

    Commodity Product = new Commodity();
    public string ErrorMessage { get; set; }
    public int total_poice { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //Product.commodity_id = 1;
        //Product.commodity_name = commodity_name;
        //total_poice= price;
        //Product.item_price = price/num;

        commodityItem Product1= await CommodityService.OrderCommodity(temporaryOrder_id);
        Product.total_count = num;
        total_poice = num * Product1.item_price;
        Product.item_price=Product1.item_price;
        Product.commodity_name = Product1.commodity_name;
    }
    public void success()
    {
        Console.WriteLine("temporaryOrder_id" + temporaryOrder_id);
        NavigationManager.NavigateTo("Order/"+temporaryOrder_id+"/"+num);
    }
}
